/* Global styles */

body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
	}


h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

h3 {
    margin-bottom: 4px;
}

.buy-all {
    font-size:  12pt;
    font-family: sans-serif;
    color: white;
    background-color: #141;
    padding: 5px;
}

#cust-name {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 14pt;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product-list table {
        border-collapse: collapse;
}

#product-list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product-list .list-image {
  width:        60px;
  height:       70px;
}

#product-list .list-description {
  width:        60%;
}

#product-list .list-description dl {
        margin: 0;
}

#product-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product-list .list-description dd {
        margin: 0;
}

#product-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product-list .list-line-even {
  background-color:   #e0f8f8;
}

#product-list .list-line-odd {
  background-color:   #f8b0f8;
}

/* An entry in the store catalog */

.prod_table {
    position: static;
    display:block;
}

.group_row {
    left: 0;
}

.group_cell {
    
}

.entry_row {
    padding-left: 1.5em;
}

.entry_cell {
    padding-left: 1em;
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    _height: 180px;
}

.entry_cell .entry {
    top: 0;
    padding-right: 1em;
    overflow: hidden;
    margin-top: 1em;
    height: 180px;
    width: 315px;
    vertical-align: top;
    position: relative;
    border-bottom: 1px dotted #77d;
}

#store .entry .popup_link {
  top: 150px;
  position: absolute;
  cursor: pointer;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

.entry_cell .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

.entry_cell .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

.leftcol {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100px;
    padding-bottom: 5px
}

.nametitle {
    position: absolute;
    top: 110px;
    font-size: 100%;
}

.rightcol {
    position: absolute;
    top: 0px;
    left: 110px;
    width: 30%;
    height: 100px;
    display: table-column;
}

.img {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100px;
  float: left;
  text-decoration: none;
  border: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.rightcol .price-line {
    position: relative;
}

.rightcol .sample {
    position: relative;
}
.add-to-cart {
  position: relative;
}

.rightcol .price {
  color: #141;
  font-weight: bold;
  margin-right: 10px;
}

.desc_text {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 100%;
}
#store .entry form, #store .entry form div {
	display: inline;
}



/* Styles for the cart in the sidebar */
#cart, #cart table { 
	font-size: 15px;
	color: black;
}
#cart table { 
	border-top:	1px dotted #595; 
	border-bottom: 1px dotted #595; 
	margin-bottom: 10px;
  overflow: auto;
}
#cart table a{
    font-size: 14px;
}
#notice { 
	border: 2px solid red; 
	padding: 1em; 
	margin-bottom: 2em; 
	background-color: #f0f0f0; 
	font: bold smaller sans-serif;
}

.cart-title {
	font: 120% bold;
}

.item-price, .total-line {
	text-align: right;
}

.total-line, .total-cell {
	font-weight: bold;
	border-top: 1px solid #595;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #eeffee;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Styles for main page */
#banner { 
  background-color: #141;
	padding-top: 1px;
	padding-bottom: 4.4em;
}
#text {
  padding-top: 1em;
  font: 30pt sans-serif;
	color: #E4D4AE;
  text-align: center;
}
#banner img { 
	float: left;
  width: 20em;
  height: 20.4ex;
}
#columns {
	background-color: #e4d4ae;
  width: 100%
}

#side {
	float: left; 
	padding-top: 25px;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
  background-color: #e4d4ae; 
  color: #141;
  font-family: sans-serif;
  bottom: 20px;
  top: 165px;
  overflow: auto;
  
}

#side a {
	color: #283329;
	font-size:large;
}

#main {
	margin-left: 13em;
	padding-top: 5px;
	padding-left: 2em;
	background-color: #FCF6CF;
  font-family: sans-serif;
}

/* Styles for order form */

.fennyfund-form fieldset {
	background-color: #EFE;
}

.fennyfund-form legend {
	color: #dfd;
	background-color: #141;
	font-family: sans-serif; 
	padding: 0.2em 1em;
}

.fennyfund-form label {
	width: 5em; 
	float: left; 
	text-align: right; 
	padding-top: 0.2em; 
	margin-right: 0.1em; 
	display: block;
}

.fennyfund-form select, .fennyfund-form textarea, .fennyfund-form input {
	margin-left: 0.5em;
}

.fennyfund-form .submit {
	margin-left: 4em;
}

.fennyfund-form .cancel {
	margin-left: 2em
}

.fennyfund-form div {
	margin: 0.5em 0;
}

#general-table {
    text-align: left;
    width: 400px
}
