<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Your Pragmatic Cart</title>
	</head>
	<body>
		<div class="cart-title">Your Cart</div> 
		<table>
			<%= render(:partial => "cart_item", :collection => cart.items) %>
			
			<tr class="total-line"> 
				<td colspan="3">Total</td>
				<td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
			</tr> 
		
		</table>
		
		<%= button_to "Checkout", :action => 'checkout' unless @order %>
		<% form_remote_tag :url => { :action => :empty_cart } do %>
  			<%= submit_tag "Empty cart" %>
		<% end %>

    <br/><br/>
		
	</body>
</html>
