<div id="prod_desc_<%= product.id %>" class="facebox" style="display:none">
  <div class="desc_text">
    <p>
      &quot;<%= product.description.gsub(/[^[:print:]]/,'') %>&quot;
    </p>
  </div>
  <div class="desc_links">
  <% if product.category == "music" && product.band_links != nil %>
      Links:
          <% product.band_links.each do |link| %>
            <% if link.name != "" && link.url != "" %>
              <%= link_to link.name, link.url, :popup => true %>&nbsp;
            <% end %>
          <% end %>
      <% end %>
  </div>
</div>