<div class="fennyfund-form">
  
	<%= error_messages_for 'order' %>

	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" value="_s-xclick" name="cmd" />
    <input type="hidden" value="6730573" name="hosted_button_id" />
		<fieldset> 
			<legend>Please Enter Your Details</legend>
			<div>
				<label for="order_pay_type">Pay with:</label>
				<select id="order_pay_type" name="order[pay_type]"><option value="paypal">PayPal</option></select>
			</div>
			
			<input class="submit" name="commit" type="submit" value="Place Order" />
			
			<%= link_to "Cancel Order", {:action => 'cancel_order'},
										{:class => "cancel", 
										:confirm => "Are you sure you want to cancel your order?" }
			%>
		</fieldset>
		
	</form>

</div>