<h1>The Fenny Fund Catalog</h1>

<script type="text/javascript" src="/javascripts/soundmanager2.js"></script>
<script type="text/javascript" src="/javascripts/soundmanager2-rails.js"></script>

<% @products.group_by(&:grouping).each do |grouping, products| %>
  <div id="grouping">
    <h3><%= grouping %> 
      <% form_remote_tag :url => { :action => 'add_all_to_cart',:grouping => grouping } do %>
				<%= submit_tag "Add All to Cart", :disable_with => "Added" %>
			<% end %></h3>
    <!-- <#%= button_to "Add All to Cart", :action => 'add_all_to_cart', :grouping => grouping %></h3> -->
    <%= render :partial => 'product', :collection => products %>
  </div>
<% end %>

<%= initialize_sounds(@sounds) %>
